

.bolas{margin-top:16px;}

.center{vertical-align: center;}

.justificar{text-align: justify;}

.fixed{position: absolute;z-index: 9px;}

.menu{border-radius:5px; margin-top: 20px;}

.img{height: 500px;}



